.portfolio__filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;
  color: var(--title-text-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  @include transition-triple(background-color, color, box-shadow);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio__link {
  display: block;
  @include transition(box-shadow);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__img {
  position: relative;
  overflow: hidden;
}

.portfolio__text {
  padding: 20px 24px;
  border: 1px solid var(--portfolio-border-color);
  border-top: none;
}

.portfolio__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio__label {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  @include transition(transform);

  .portfolio__link:hover &,
  .portfolio__link:focus & {
    transform: translateY(0);
  }
}
